@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sci{
    position: relative;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px;
    font-size: 4em;
    transform-style: preserve-3d;
    perspective: 500px;
    box-shadow: 0 25px 35px rgba(0,0,0,0.1);
    transition: background 0.25s;
}

.sci li a:hover.facebook{
    background: #1877f2;
}

.sci li a:hover.youtube{
    background: #ff0000;
}

.sci li a:hover.twitter{
    background: #0099ff;
}

.sci li a:hover.instagram{
    background: #c4405f;
}

.sci li a:hover.instagram{
    background: #c4405f;
}