@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sci{
    position: relative;
    display: flex;
}

.sci li{
    list-style: none;
}